.contenedor-cards {
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contenedor-botones {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.contenedor-cards-option {
  width: 100%;
}
.card {
  width: 100%;
  border: 1px solid #979797;
  border-radius: 6px;
}

.contenedor-texto {
  width: 86%;
}

.contenedor-corazon {
  width: 14%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.card-img-corazon {
  cursor: pointer;
}

.h6 {
  margin-top: 4px;
  font-size: 14px;
}

.creado-dia,
.card-autor {
  font-size: 11px;
  margin-left: 5px;
}

.url-direccion {
  font-size: 10px;
}

.contenedor-paginacion {
  margin-top: 20px;
  font-size: 18px;
}

.contenedor-filtro {
  width: 20%;
  margin-left: 20px;
  margin-top: 20px;
}

/* .corazon-img{
  background-image: url('../../assets/img/iconmonstr-favorite-2.svg');
  width: 25px;
   height: 25px;
   background-repeat: no-repeat;
} */


