.contenedor-cards {
  margin-top: 20px;
  padding-top: 20px;
  padding-left: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contenedor-botones {
  margin-top: 70px;
  display: flex;
  justify-content: center;
}

.contenedor-cards-option {
  /* border: 1px solid #000; */
  width: 70%;
  margin-left: 80px;
}
.card {
  width: 100%;
  border: 1px solid #979797;
  border-radius: 6px;
}

.contenedor-texto {
  width: 86%;
}

.contenedor-corazon {
  width: 14%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img-corazon {
  cursor: pointer;
}

.h6 {
  margin-top: 4px;
  font-size: 14px;
}

.creado-dia,
.card-autor {
  font-size: 11px;
  margin-left: 5px;
}

.url-direccion {
  font-size: 10px;
}

.contenedor-paginacion {
  margin-top: 20px;
  font-size: 18px;
}

.contenedor-filtro {
  width: 20%;
  margin-left: 20px;
  margin-top: 20px;
}

@media (max-width: 960px) {
  .contenedor-cards {
    grid-template-columns: 1fr;
  }

  .contenedor-cards-option {
    width: 100%;
    margin-left: auto;
    margin-left: auto;
  }
  .card {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 725px) {
  .contenedor-cards {
    grid-template-columns: 1fr;
  }

  .contenedor-cards-option {
    width: 87%;
    margin-right: auto;
    margin-left: auto;
  }
  .card {
    margin-left: auto;
    margin-right: auto;
  }

  .contenedor-paginacion {
    margin-left: -50px;
    font-size: 14px;
  }
}

@media (max-width: 672px) {
  .contenedor-cards {
    grid-template-columns: 1fr;
  }

  .contenedor-cards-option {
    width: 80%;
    margin-right: auto;
    margin-left: auto;
  }
  .card {
    margin-left: auto;
    margin-right: auto;
  }

  .card-autor,
  .creado-dia {
    font-size: 9px;
  }
  .h6 {
    font-size: 12px;
  }
  .url-direccion {
    font-size: 8px;
  }

  .contenedor-paginacion {
    margin-left: -50px;
    font-size: 13px;
  }
}

@media (max-width: 596px) {
  .card-autor,
  .creado-dia {
    font-size: 9px;
  }
  .h6 {
    font-size: 10px;
  }
  .url-direccion {
    font-size: 8px;
  }
  .contenedor-paginacion {
    margin-left: -50px;
    font-size: 10px;
    margin-right: 10px;
  }

  .control {
    font-size: 5px;
    margin-right: 10px;
  }
}

@media (max-width: 350px) {
  .card-autor,
  .creado-dia {
    font-size: 6px;
  }
  .h6 {
    font-size: 10px;
    text-align: center;
  }
  .url-direccion {
    font-size: 8px;
    text-align: center;
  }

  .contenedor-paginacion {
    font-size: 5px;
  }
}
