.form-select {
  margin-left: 80px;
}

@media (max-width: 960px) {
  .form-select {
    margin-top: 50px;

    margin-left: 145px;
  }
}

@media (max-width: 924px) {
  .form-select {
    margin-left: 125px;
  }
}

@media (max-width: 900px) {
  .form-select {
    margin-left: 125px;
  }
  .contenedor-filtro {
    width: 350%;

    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 725px) {
  .form-select {
    margin-left: 60px;
  }

  .contenedor-filtro {
    width: 390%;
  }
}

@media (max-width: 672px) {
  .form-select {
    margin-left: 60px;
  }

  .contenedor-filtro {
    width: 385%;
  }
}

@media (max-width: 596px) {
  .form-select {
    margin-left: 100px;
  }

  .contenedor-filtro {
    width: 205%;
  }
}

@media (max-width: 350px) {

    .form-select {
        margin-left: 80px;
      }
}
