.header{
   
    width: 100%;
    height: 114px;
    display: flex;
    justify-content: flex-start;
    align-items:center;
    box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
  background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
}

.contenedor-img-header{
    width:208px;
    height:28px;
    margin-left: 150px;
 
}

.contenedor-img-header img{
    max-width: 100%;
    max-height: 100%;
}


@media (max-width: 1020px) {

   

    .header {
        overflow: hidden;
    }
    .contenedor-img-header{
        margin-left: auto;
        margin-right: auto;
        height:38px;
    }  
}


@media (max-width: 584px) {


     
}